.equal {
    display:table;
    border-collapse:separate;
}
.row {
    display:table-row;
}
.row div {
    display:table-cell;
}
.row .one {
    width:180px;
    color: red;
}
.row .two {
    width:200px;
}

.Css-Center-Modal{
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    margin-left: -10%;
}
.global-cell-title {
    width: 100px;
}
.global-cell-input {
    width: 400px;
}
.global-cell-input2 {
    width: 350px;
}