<tabset>
    <tab heading="Information Dashboard">
        <div style="float:left;width:30%;margin-right: 5px;">
            <div id="createQuoteListDiv">
                <h1>Equity Watch List</h1>
                <p>
                    <input type="search" ng-disabled="newQuote.disabled" ng-model="newQuote.value" placeholder="Input Quote..." required />
                    <button class="cta" ng-disabled="newQuote.disabled" ng-click="addQuote()">Add Quote</button>
                    <button class="btn" ng-disabled="newQuote.disabled" ng-click="removeQuote()">Remove</button>
                </p>
                <div ng-grid="quoteOptions" style="margin: 2px; border: 1px solid gray; min-height: 95px; height:{{ quoteList.length * 30 + 50 }}px;"></div>
            </div>
            <hr />
            <div>
                <h1>Keyword List</h1>
                <div class="equal">
                    <div class="row">
                        <div class="one">Ownership</div>
                        <div class="two">
                            <input id="NewOwnershipSharePct" ng-model="threshold.ownership" placeholder="Only accept values between 0.0 to 1.0"
                                   title="Shares percentage threshold.!Investors out of the top ten won't be considered" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="one">Index Constituents</div>
                        <div class="two">
                            <input id="NewIndexConstituentWeightThreshold" ng-model="threshold.index" placeholder="Only accept values between 0.0 to 1.0"
                                   title="Index weight threshold.!Null weight will be filtered when valid weight threshold provided" />
                        </div>
                    </div>
                </div>
                <div style="margin-top:5px;">
                    <button class="cta" ng-click="generateKeywords()">Generate Keywords</button>
                    <button class="btn" ng-click="removeKeyword()">Remove</button>
                </div>
                <div ng-grid="keywordOptions" style="margin: 2px; border: 1px solid gray; min-height: 95px; height:{{ keywordList.length * 30 + 50 }}px;"></div>
            </div>
        </div>
        <div style="float:left;width:60%">
            <h1>Top Related Stories</h1>
            <div style="margin-top:5px;">
                <button class="cta" ng-click="generateNews()">Generate News</button>
            </div>
            <div ng-grid="newsOptions" style="margin: 2px; border: 1px solid gray; min-height: 95px; height:{{ newsList.length * 30 + 50 }}px;"></div>
        </div>
    </tab>
    <tab heading="Investment Advisory">
        
    </tab>
</tabset>
