<div id="related_quotes_div" style="float:left;width:30%">
    <div id="relatedCmpDiv">
        <p>
            Related Companies
            <button id="calcualteHitScores" onclick="calculateKeyWordsHitScoresFn()">Calculate Hit Scores</button>
            <progress id="calcualteHitScoresProgress" value="0"></progress>
        </p>
    </div>
    <hr />
    <div id="trNewsDiv">
        <p>TR News for Selected Quotes</p>
        <div id="topSelected" class="news">top</div>
        <div id="basketSelected" class="news">basket</div>
        <br />
        <p>TR News for All</p>
        <div id="topAll" class="news" hidden="hidden">top</div>
        <div id="basketAll" class="news">basket</div>
    </div>

</div>
<div id="hit_quotes_div" style="float:left;width:30%">
    <!--<button id="newsHitQuoteReportBtn" onClick="newsHitQuoteReportFn()">Generate News Hit Quote Report</button>-->
    <button id="newsHitQuoteReportBtn">Generate News Hit Quote Report</button>
    <hr />
    <div id="hitQuoteScoreDiv">
        <p>Hit Quote Score Report</p>
        <hr />
        <table id="newsHitQuoteReportTable" class="l-table s-table3  links-alt-color" style="width:100%;font-size:12px;">
            <tbody class="l-table s-table3  links-alt-color"></tbody>
        </table>
    </div>
    <hr />
    <div id="hitQuoteTSDiv">
        <p>Hit Quote Time Series</p>
        User Quotes
        <select id="userQuoteForPriceCmpIpt"></select>
        <br />
        News Quotes
        <select id="newsQuoteForPriceCmpIpt"></select>
        <br />
        <button id="compareQuotePriceBtn">Compare Quote Price</button>
        <br />
        <hr />
        <table id="quoteTSCmpReportTable" class="l-table s-table3  links-alt-color" style="width:100%;font-size:12px;">
            <tbody class="l-table s-table3  links-alt-color"></tbody>
        </table>
    </div>
</div>